# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Streamlit / local
.streamlit/
*.log

# If you want to ignore the model later, uncomment next line:
# model/*.pkl
